 <p  #screen  >feedback works!

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.
You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

You can simply use the CSS max-width property to auto-resize a large image so that it can fit into a smaller width  container while maintaining its aspect ratio.

Additionally, you can also apply the max-height property if you've a fixed height div element, so that the image doesn't overflow from the div's boundary horizontally or vertically.

 </p> 
 <div>
<img #canvas   style="display: none;"> 
    <!-- <a #downloadLink></a> -->
  </div> 
<button mat-raised-button (click)="openDialog()">Feedback</button>

<app-login></app-login>