.form{
    top: 50%; 
    text-align: center;
    display: flex;
    position: relative;
    /* height: 40%; */
    width : 50%;
    /* transform: translate(-50%, -50%); */
    flex-direction: column;
}
.container{
    text-align: center;
    display: block;
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 62%;
}

